#login-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  padding: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: right;
}
form .text-field {
  margin: 10px 0;
}
.header-card-btn {
  position: relative;
  width: 70%;
}
.header-card-btn:nth-of-type(2) {
  background: #4285f4;
  color: white;
}
.header-card-btn:nth-of-type(2):hover,
.header-card-btn:nth-of-type(2):focus {
  background: #3a78db;
  color: white;
}
.google-logo {
  position: absolute;
  top: 1px;
  left: 1px;
  height: 40px;
  width: 40px;
  background-image: url('../Images/official-google.svg');
  background-size: contain;
}
