@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

#home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  margin: 0;
  padding: 0;
}
/*TOP SECTION*/
#top-container {
  background-image: url('../Images/snake.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
#landing-title-container {
  padding-top: 20px;
}
#landing-title-container .lt-title {
  font-size: 50px;
  font-family: 'Rowdies';
}
#landing-title-container .lt-subtitle {
  margin: auto;
  width: 80%;
  font-size: 20px;
  font-family: 'Rowdies';
  font-weight: 300;
  text-align: left;
}
#landing-title-container .home-btn {
  margin: 30px 15px;
  padding: 15px 60px;
  font-weight: 300;
  font-family: 'Rowdies';
}
/*ARROW*/
.arrow-container {
  position: absolute;
  bottom: 0;
  left: 45%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  cursor: pointer;
}
.arrow {
  position: absolute;
  left: 20px;
  top: 15px;
  border: solid white;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 10px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* BOTTOM SECTION */
#landing-mid {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  text-align: left;
}
#lb-title,
#lb-signup {
  text-align: center;
}
#lb-title,
#lb-info,
#lb-list,
#lb-signup {
  padding: 30px;
}
#landing-mid-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
#landing-mid-btns button {
  margin-bottom: 60px;
  transform: scale(1.5, 1.5);
}
/*BOTTOM*/
#landing-bottom {
  min-height: 100vh;
  width: 100vw;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about-heading .about-card {
  margin: 30px;
}
#cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-card {
  margin: 20px;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.about-card img {
  width: 150px;
  margin: 10px;
  position: absolute;
}
.card-text {
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

@media only screen and (min-width: 1000px) {
  /*TOP*/
  #landing-title-container {
    max-width: 40vw;
    padding: 30px;
    margin-top: 10vh;
    margin-left: 5vw;
    border-radius: 20px;
  }
  #landing-title-container .lt-title {
    font-size: 80px;
  }
  #landing-title-container .home-btn {
    margin: 30px 15px;
    padding: 15px 60px;
    width: 150px;
  }
  /*ARROW*/
  .arrow-container {
    left: 50%;
  }
  /*MID*/
  #landing-mid {
    width: 100%;
    min-height: 90vh;
    align-self: center;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10px;
    grid-template: repeat(2, 30%) / repeat(2, 50%);
    grid-template-areas:
      'title info'
      'one two';
    text-align: left;
  }
  #lb-title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  #lb-info {
    grid-area: info;
    padding: 10px;
  }
  #lb-list,
  #lb-signup {
    margin-top: 100px;
    padding: 40px;
  }
  #lb-list {
    grid-area: one;
  }
  #lb-signup {
    grid-area: two;
    margin-top: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #lb-signup-lower {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /*BOTTOM*/
  #landing-bottom {
    align-self: center;
    display: grid;
    grid-template-columns: 20vw 70vw;
  }
  .about-card {
    flex-direction: row;
    max-width: 40vw;
  }
  .about-card img {
    align-self: center;
  }
}
