.searchmap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw;
  margin: 100px 0 0 0;
}

.search-title {
  width: 90%;
}

.search-title .searchbar {
  margin-top: 30px;
  width: 90%;
}

.search-results {
  margin-top: 50px;
  width: 95%;
}

@media only screen and (min-width: 950px) {
  .search-title,
  .search-title .searchbar {
    width: 60%;
  }
}
