#chat-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chat-display {
  height: 40vh;
  max-width: 600px;
  padding: 5px;
}
.chat-display .card-inside {
  height: 100%;
  overflow: scroll;
}
.message {
  padding: 5px 0;
  margin: 10px 0;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.message:nth-child(even) {
  padding: 10px 0;
  background: rgb(243, 243, 243);
}
.message span:first-of-type {
  font-weight: bold;
  margin-right: 50px;
}
#input-container {
  margin-top: -60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-start;
}
#input-container .input {
  margin: 20px;
  width: 300px;
}
#input-container .chat-btn {
  max-width: 150px;
  margin: 20px;
}
